<script src="/js/listInput.js"></script>
<script src="/js/getListData.js"></script>
<div class="container">
  <h2>
    Create a list
  </h2>
  <h4>
    Rules
  </h4>
  <ul>
    <li>Be nice to people with your lists</li>
    <li>Your list will stay forever</li>
  </ul>
  {{# if warning}}
    <div class="alert alert-danger">
      <strong>Warning</strong>{{warning}}
    </div>
  {{/if}}
  <div class="form-group">
    <form action="addList" method="post" id="addListForm" id="listForm">
      <div id="inputs">
        <h4>list Title</h4>
        <input type="text" name="title" class="form-control" value="{{title}}">
        <br>
        <h4>optional(a desciption about your list)</h4>
        <textarea type="text" name="about" class="form-control">{{about}}
        </textarea>
        <h4> add some starting Items </h4>
        {{#if items}}
          {{#each items}}
            <input type="text" name="items" class="form-control"
            value="{{this}}">
          {{/each}}
        {{else}}
          <input type="text" name="items" class="form-control">
        {{/if}}
        <br>
      </div>
      <button type="button" id="listButton">Another Item</button>
      <button type="button" id="removeListButton">never mind</button>
      <input type="submit">
    </form>
    {{#if message}}
      <div class="alert alert-danger">
        {{message}}
      </div>
    {{/if}}
  </div>
</div>
<script src="/js/getListData.js"></script>
