<div class="container">
  <div class="jumbotron" id="optionDiv">
    <h1> {{title}} </h1>
    <p>{{about}}</p>
    <select class="form-control" id="typeSelector">
      <option id="bullets">bullets</option>
      <option id="numbered">numbered</option>
    </select>
    <ul id="mainList">
      {{#each items}}
        <h2><li>{{this}}</li></h2>
      {{/each}}
    </ul>
    <form id="update">
      <input type='hidden' name="id" value="{{id}}" id="updateid">
      <input type="text" name="newItems" id="newItems">
      <button type="submit">add Item</button>
    </form>
    <a href="/deleteItems/{{title}}/{{id}}">
      <button>Delete Items </button>
   </a>
  </div>
  <div class="jumbotron">
    <h4>popularity: <span id="popularity">{{popularity}}</span></h4>
    <form id="like">
      <input type='hidden' name="id" value="{{id}}" id="likeidInput">
          <button type="submit" class="btn btn-primary">Like</button>
    </form>
    <form id="dislike">
      <input type='hidden' name="id" value="{{id}}" id="dislikeidInput">
          <button type="submit" class="btn btn-primary">Dislike</button>
    </form>
  </div>
  <div class="jumbotron">
    <form id="comment">
      <input type='hidden' name="id" value="{{id}}" id="commentid">
      <textarea type="text" name="comment" id="thecomment">
      </textarea><br>
      <button type="submit">Comment</button>
    </form>
    {{#each comments}}
        <p>{{this}}</p>
    {{/each}}
  </div>
 </div>
 <script src="/js/listFormating.js"></script>
 <script src="/js/actions.js"></script>
