<div class="container">
  <h1> {{title}} </h1>
  <p>{{about}}</p>
  <div class="jumbotron">
    <ul>
      {{#each items}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <a href="/editList/{{id}}">
    <button>Edit this list</button>
  </a>
  <h4>popularity: {{popularity}}</h4>
  <form action="/like" method="post">
  <div class="container">
    <button type="submit" class="btn btn-primary">Like</button>
  </div>
  </form>
  <form action="/dislike" method="post">
    <div class="container">
      <button type="submit" class="btn btn-primary">Dislike</button>
    </div>
  </form>
  <form action="/comment" method="post">
    <input type="text" name="name">
    <textarea type="text" name="content">
    </textarea>
    <button type="submit">Submit Comment</button>
  </form>
  <div class="jumbotron">
    <h5>{{name}}</h5>
    <p>{{content}}</p>
  </div>
 </div>
